// app global css in SCSS form
.section-header {
  margin: 0.5rem;
}

.entity-validated-form {
  min-width: 300px;
}

/* Q-Card */

.q-card {
  margin: 0.5rem;
}

.q-card:hover {
  transition: background-color 0.3s;
}

.q-card--light {
  background-color: #f1f4f8;
}

.q-card--light:hover {
  background-color: #e4e7eb;
}

.q-card--dark {
  background-color: #1a202c;
}

.q-card--dark:hover {
  background-color: #2d3748;
}
